<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMAGE API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheet/result.css">
</head>
<body>
    <h1>Showing Search Results for "<%= imgName %>"</h1>
    <div class="ui container" id="myContainer">
        <% resultRec.forEach( (ele,index) => { %>
            <div class="card">
                <h3><%= ele.name %></h3>
                <div>
                    <span class="heading">id:</span> <span class="text"><%= ele._id %></span><br/>
                    <span class="heading">url:</span> <span class="text"><%= ele.url %></span><br/>
                    <span class="heading">type:</span> <span class="text"><%= ele.type %></span><br/>
                    <span class="heading">Size:</span> <span class="text"><%= ele.metaData.Size %> bytes</span><br/>
                    <span class="heading">Enc:</span> <span class="text"><%= ele.metaData.encoding %></span><br/>
                    <span class="heading">extType:</span> <span class="text"><%= ele.metaData.extType %></span><br/>
                    <div id="index"><%= index+1 %></div>
                </div>
            </div>
        <% }); %>
    </div>
    <div id="buttonOnly">
        <a href="/"><button type="submit" class="ui button blue">Back to home</button></a>
    </div>
</body>
</html>